{
  "presets": ["next/babel"],
  "plugins": [
    "import-graphql",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src/"
        }
      }
    ],
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ]
  ]
}
