$darkColor: #3a3a3a;
$darkGreenColor: rgb(95,145,67);
$middleGreenColor: #3fa43a;
$lightGreenColor: #73cc43;
$blackFontColor: #181b20;
$linkColor: #cec3b7;

$greenTeaColor: rgb(27, 85, 0);
$blackTeaColor: rgb(26, 23, 20);
$puerTeaColor: rgb(48, 37, 23);
$oolongTeaColor: rgb(125,167,87);
$whiteTeaColor: rgb(225, 240, 216);
$yellowTeaColor: rgb(205, 236, 69);