@import '@/constants/colors.scss';

.layout {
  display: grid;

  height: 100vh;
  padding: 0px 40px;


  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
