.RegistrationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.RegistrationForm {
  display: grid;

  width: 350px;

  & > div {
    margin-bottom: 40px;
  }
}

.RegistrationTitle {
  text-align: center;
}

.RegistrationActions {
  display: flex;
  justify-content: space-between;
}
