@import '@/constants/colors.scss';

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 0px;

  font-family: 'Philosopher', sans-serif;

  a {
    display: flex;
    align-items: center;

    padding: 10px 0px 0px 0px;

    color: $darkGreenColor;

    font-size: 2.1rem;

    p {
      margin: 0px;
    }
  }

  img {
    position: relative;
    top: -10px;

    height: 55px;
  }

  button {
    margin-right: 50px;

    cursor: pointer;

    border: none;
    background-color: transparent;

    font-family: inherit;
    font-size: 1rem;

    &:hover {
      color: green;
    }
  }
}

.loginItem {
  margin-top: -5px;
}

.actions {
  display: flex;
  align-items: center;
}
