@import '@/constants/colors.scss';

.card {
  position: relative;

  display: flex;

  width: 100%;
  height: 210px;

  cursor: pointer;

  color: white;
  border-radius: 5px;
  background-size: 130%;
  box-shadow: 0 0 5px rgba($color: $darkColor, $alpha: 0.4);

  &:hover {
    box-shadow: 0 0 12px rgba($color: $darkColor, $alpha: 0.5);

    filter: brightness(1.05);
  }
}

.backgroundImage {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  border-radius: 5px;
  background-color: $middleGreenColor;
  background-size: cover;

  filter: brightness(0.8);
}

.cardContent {
  z-index: 2;

  display: grid;

  width: 100%;
  height: 100%;

  border-radius: 5px;

  grid-auto-columns: 86% 14%;
  grid-template-areas:
    'mainInfo menuWrapper'
    'additionalInfo additionalInfo';
  grid-template-rows: 75% 25%;
}

.mainInfo {
  margin-left: 10px;

  grid-area: mainInfo;
}

.names {
  margin-top: 45px;

  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

  font-family: 'Philosopher', sans-serif;
}

.firstName {
  margin: 0px;

  font-size: 1.4rem;
}

.secondName {
  margin-top: 5px;

  font-size: 1.1rem;
}

.additionalInfo {
  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba($color: $greenTeaColor, $alpha: 0.6);

  grid-area: additionalInfo;
}

.badge {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: 25px;

  text-align: center;

  color: white;
  border-radius: 50%;

  & + & {
    margin-left: 20px;
  }

  img {
    position: relative;
    top: -2px;

    width: 25px;
    height: 25px;
    margin-left: 5px;
  }
}

.menuWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: transparent;

  grid-area: menuWrapper;
}

.menuWrapper_isMenuShown {
  // background-color:  rgba($color: white, $alpha: 0.7);
}

.toggleMenuButton {
  display: flex;
  justify-content: flex-end;

  width: fit-content;
  margin-top: 4px;
  padding: 5px 5px;

  border-top-right-radius: 5px;
  outline: none;

  &:hover {
    transform: scale(1.1);
  }

  .dot {
    width: 5px;
    height: 5px;
    margin: 2px;

    transition: transform 0.5s, background-color 0.05s;

    border-radius: 50%;
    background-color: white;
  }
}

.toggleMenuButton_isMenuShown {
  height: 28px;

  &:hover {
    filter: brightness(0.6);
  }

  .dot {
    width: 2.5px;
    height: 22px;
    margin: 2px;

    border-radius: 50%;
    background-color: rgb(100, 149, 237);

    &:nth-child(1n) {
      transform: rotate(45deg) translate(2px, -7px);
    }
    &:nth-child(2n) {
      background-color: transparent;
    }
    &:nth-child(3n) {
      transform: rotate(-45deg) translate(-2px, -7px);
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba($color: aliceblue, $alpha: 0.9);

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
  }
  ul li {
    padding: 5px 0px;

    &:hover {
      filter: brightness(0.6);
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}

@keyframes dotsToClose {
  from {
  }

  to {
  }
}
